{% extends 'base.html.twig' %}



{% block pageHeaderTitle %}
    <h4>My Team Page</h4>
    <span>sub text here</span>
{% endblock %}


{% block body %}
    <div class="col-lg-12">
        <!-- Default card start -->
        <div class="card">
            <div class="card-block">
                <span>
                    <a href ="{{ '/register/' }}">
                <button class="btn btn-outline-primary">add User</button>
                    </a>
                </span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5>Team members</h5>
            </div>
            <div class="card-block">
                <div class="card">
                    <div class="card-header">
                        <h5>Team members</h5>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>

                                <tr>
                                    <th>Id</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>LastName</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr>
                                    <th scope="row">{{ user.id }}</th>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.FirstName }}</td>
                                    <td>{{ user.LastName }}</td>
                                    <td></td>
                                    <td><a href=><button class="btn btn-outline-primary">Edit User</button></a></td>
                                    <td><a href="{{  path ('delete_user',{ 'id': user.id })}}"><button class ="btn btn-outline-danger" >Delete User</button></a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <!-- Default card end -->
    </div>
{% endblock %}
