{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Favicon icon -->
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/bootstrap/css/bootstrap.min.css') }}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/themify-icons/themify-icons.css') }}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/icofont/css/icofont.css') }}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
</head>

<body class="fix-menu">
<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <div class="form-group">
                        <div class="text-center">
                            <img src="{{ asset('assets/images/logo.png') }}" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Add another User</h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    {{ form_widget(form.FirstName, { 'attr': {'class': 'form-control', 'placeholder': 'FirstName'|trans } }) }}
                                    {{ form_errors(form.FirstName) }}
                                    <span class="form-bar"></span>
                                </div>
                                <div class="form-group form-primary">
                                    {{ form_widget(form.LastName, { 'attr': {'class': 'form-control', 'placeholder': 'LastName'|trans } }) }}
                                    {{ form_errors(form.LastName) }}
                                    <span class="form-bar"></span>
                                </div>
                                <div class="form-group form-primary">
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
                                    {{ form_errors(form.username) }}
                                    <span class="form-bar"></span>
                                </div>
                                <div class="form-group form-primary">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                                    {{ form_errors(form.email) }}
                                    <span class="form-bar"></span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                                            {{ form_errors(form.plainPassword.first) }}
                                            <span class="form-bar"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                                            {{ form_errors(form.plainPassword.second) }}
                                            <span class="form-bar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="{{ 'registration.submit'|trans }}">Register User</button>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">Thank you.</p>
                                        <p class="text-inverse text-left"><a href="{{ '/' }}"><b class="f-w-600">Back to
                                                    website</b></a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="{{ asset('assets/images/auth/Logo-small-bottom.png') }}"
                                             alt="small-logo.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
<!-- Required Jquery -->
<script src="{{ asset('bower_components/jquery/js/jquery.min.js') }}"></script>
<script src="{{ asset('bower_components/jquery-ui/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bower_components/popper.js/js/popper.min.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- jquery slimscroll js -->
<script src="{{ asset('bower_components/jquery-slimscroll/js/jquery.slimscroll.js') }}"></script>
<!-- modernizr js -->
<script src="{{ asset('bower_components/modernizr/js/modernizr.js') }}"></script>
<script src="{{ asset('bower_components/modernizr/js/css-scrollbars.js') }}"></script>
<!-- i18next.min.js -->
<script src="{{ asset('bower_components/i18next/js/i18next.min.js') }}"></script>
<script src="{{ asset('bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js') }}"></script>
<script src="{{ asset('bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js') }}"></script>
<script src="{{ asset('bower_components/jquery-i18next/js/jquery-i18next.min.js') }}"></script>
<script src="{{ asset('assets/js/common-pages.js') }}"></script>
</body>
</html>



