<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <link rel="icon" type="image/png" href="{{ asset('assets/icon/index.ico') }}" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('assets/icon/icofont/css/icofont.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/feather/css/feather.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/prism/prism.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/pcoded-horizontal.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>


<div id="pcoded" class="pcoded">

    <div class="pcoded-container">
        <!-- Menu header start -->
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('assets/images/logo.png') }}" alt="Theme-Logo"/>
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-right">
                        <li class="header-search header-notification">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon search-btn" style="padding-right: 1px !important"><i
                                                class="feather icon-search"></i></span>
                                </div>
                            </div>
                        </li>
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ asset('assets/images/avatar-4.jpg') }}" class="img-radius"
                                         alt="User-Profile-Image">
                                    <span>{{ app.user.username }}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu"
                                    data-dropdown-in="fadeIn"
                                    data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_login') }}">
                                            <i class="feather icon-log-out" ></i> Logout
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Menu header end -->


        <!--Our work here-->
        <div class="pcoded-main-container">
            <!--Second Menu-->
            <nav class="pcoded-navbar">
                <div class="pcoded-inner-navbar">
                    <ul class="pcoded-item pcoded-left-item">
                        <li class="pcoded-hasmenu">
                            <a href="{{ path('projects') }}">
                                <span class="pcoded-micon"><i class="feather icon-codepen"></i></span>
                                <span class="pcoded-mtext">Projects</span>
                            </a>
                        </li>
                        <li class="pcoded-hasmenu">
                            <a href="{{ path('dashboard') }}">
                                <span class="pcoded-micon"><i class="feather icon-monitor"></i></span>
                                <span class="pcoded-mtext">Dashboard</span>
                            </a>
                        </li>

                        <li class="pcoded-hasmenu">
                            <a href="{{ path('team') }}">
                                <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                                <span class="pcoded-mtext">Team</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!--Page content-->
            <div class="pcoded-wrapper">

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">

                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header m-t-50">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    {% block pageHeaderTitle %}{% endblock %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-4">
                                          <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb-title">
                                              <li class="breadcrumb-item">
                                                <a href="#">
                                                  <i class="icofont icofont-home"></i>
                                                </a>
                                              </li>
                                              <li class="breadcrumb-item"><a href="#">Page Layouts</a>
                                              </li>
                                              <li class="breadcrumb-item"><a href="#">Horizontal</a>
                                              </li>
                                              <li class="breadcrumb-item"><a href="#">fixed Layout</a>
                                              </li>
                                            </ul>
                                          </div>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                <!-- Page body start -->
                                <div class="page-body">
                                    <div class="row">
                                        {% block body %}

                                        {% endblock %}
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script src="{{ asset('bower_components/jquery/js/jquery.min.js') }}"></script>
<script src="{{ asset('bower_components/jquery-ui/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bower_components/popper.js/js/popper.min.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bower_components/jquery-slimscroll/js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('bower_components/modernizr/js/modernizr.js') }}"></script>
<script src="{{ asset('bower_components/modernizr/js/css-scrollbars.js') }}"></script>

<script src="{{ asset('assets/pages/prism/custom-prism.js') }}"></script>
<script src="{{ asset('assets/js/pcoded.min.js') }}"></script>
<script src="{{ asset('assets/js/menu/menu-hori-fixed.js') }}"></script>
<script src="{{ asset('assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>


{% block javascripts %}{% endblock %}
</body>
</html>
